{% extends "base-1.html" %}

{% block page_title %}
Art
{% endblock page_title %}

{% block header %}
<h1>Art</h1>
<small>(ignore the fact there are no new entries since 2021)</small>
{% endblock header %}

{% block main %}
<p>2021-04-27</p>
<a class="imglink" href="/static/img/20210427.png" target="_blank" width="100%">
<img src="/static/img/20210427.png" width="100%">
</a>

<p>2020-12-30</p>
<a class="imglink" href="/static/img/20201230.png" target="_blank" width="100%">
<img src="/static/img/20201230.png" width="100%">
</a>

<p>2017-03-09</p>
<a class="imglink" href="/static/img/20170309.jpg" target="_blank" width="100%">
<img src="/static/img/20170309.jpg" width="100%">
</a>

<p>2017-01-12</p>
<a class="imglink" href="/static/img/20170112.jpg" target="_blank" width="100%">
<img src="/static/img/20170112.jpg" width="100%">
</a>

<p>2014-10-18</p>
<a class="imglink" href="/static/img/20141018.jpg" target="_blank" width="100%">
<img src="/static/img/20141018.jpg" width="100%">
</a>
{% endblock main %}
