{% extends "base-1.html" %}

{% block page_title %}
Blog
{% endblock page_title %}

{% block scripts %}
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
{% endblock scripts %}

{% block header %}
<h1>Blog</h1>
{% endblock header %}

{% block main %}
<p>test $$a=b$$

$$\int_a^b f(x)dx = 230$$</p>

<p>test \(a=b\) why no work grr very angry

$$\int_a^b f(x)dx = 230$$</p>
{% endblock main %}
