{% extends "base-1.html" %}

{% block page_title %}
Projects
{% endblock page_title %}

{% block header %}
<h1>Projects</h1>
{% endblock header %}

{% block main %}
<p>This is a non-exhaustive list of personal projects I've done.</p>
<p>(Click images for full size)</p>

<h2>jqoiview</h2>
<div>
    <a class="imglink" href="/static/img/jqoiview.png" target="_blank" width="100%">
        <img src="/static/img/jqoiview.png" width="100%">
    </a>
</div>
<p>Program written in Rust for viewing the highly efficient <a href="https://qoiformat.org/" target="_blank">QOI</a> image format. Uses SDL2.</p>
<a href="https://github.com/Jasper-Ty/jqoiview" target="_blank">Source</a>
<a href="https://crates.io/crates/jqoiview" target="_blank">crates.io</a>

<h2>dither_{png,bmp}</h2>
<div style="display: flex;">
    <a class="imglink" href="/static/img/santorini.png" target="_blank" width="50%">
        <img src="/static/img/santorini.png" width="100%">
    </a>
    <a class="imglink" href="/static/img/santorini_dithered.png" target="_blank" width="50%">
        <img src="/static/img/santorini_dithered.png" width="100%">
    </a>
</div>
<div>
    <a class="imglink" href="/static/img/your_name_dithered.bmp" target="_blank" width="100%">
        <img src="/static/img/your_name_dithered.bmp" width="100%">
    </a>
</div>
<p>
Simple command-line programs, written in C (dither_png) and Rust (dither_bmp) that take in an input image and produces a dithered output image.
</p>
<a href="https://github.com/Jasper-Ty/dither_png" target="_blank">Source (dither_png)</a>
<a href="https://github.com/Jasper-Ty/dither_png" target="_blank">Source (dither_bmp)</a>

<h2>jty-website</h2>
<p>This website itself! I'm using my own web server, written in Rust with <a href="https://actix.rs" target="_blank">actix_web</a> and <a href="https://tera.netlify.app" target="_blank">Tera</a>. 

Currently supports basic templating and hot-reloading.</p>

<a href="https://github.com/Jasper-Ty/jty-website" target="_blank">Source</a>

<h2>rustsweeper</h2>
<div>
    <a class="imglink" href="/static/img/rustsweeper.png" target="_blank" width="100%">
        <img src="/static/img/rustsweeper.png" width="100%">
    </a>
</div>
<p>Work-in-progress clone of Minesweeper written in Rust. At the moment, it's using SDL2, but I may move it to <a href="https://bevyengine.org/">Bevy</a>. Someday I hope it reaches feature parity with <a href="https://minesweepergame.com/download/arbiter.php">Minesweeper Arbiter</a> (the currently standard Minesweeper clone)</p>

<a href="https://github.com/Jasper-Ty/rustsweeper" target="_blank">Source</a>

<h2>wordle solver</h2>
<div>
    <a class="imglink" href="/static/img/wordlesolver.png" target="_blank" width="100%">
        <img src="/static/img/wordlesolver.png" width="100%">
    </a>
</div>
<p>Back when wordle was a craze, I quickly cooked up a solver for it in Python, basing it off of how Donald Knuth proved Mastermind can be solved in at most 5 moves using a maxmin algorithm. (Mastermind is one of my favorite puzzles).</p>

<p>It is hilariously slow due to the naiveness of both approach and implementation. I wrote an optimized version in C at some point, but the code for that is lost to time.</p>

<a href="/static/misc/wordle_cmdline_solver.py" target="_blank">Source</a>
{% endblock main %}
