{% extends "base-1.html" %}

{% block page_title %}
Bio
{% endblock page_title %}

{% block header %}
<h1>Bio</h1>
{% endblock header %}

{% block main %}
<p>I grew up in both the Philippines and Saudi Arabia. I'm currently based in Philadelphia, as both a Computer Engineering student at Drexel University and a Software Developer at MOD.</p>

<p>I'm planning to pursue an academic career in pure math. I've always had a very strong passion for it, and spent much of my free time in college studying math. I'm particularly interested in the intersection between math and computer science.</p>
{% endblock main %}
