{% extends "base-1.html" %}

{% block page_title %}
Jasper Ty 
{% endblock page_title %}

{% block header %}
<h1>Jasper Ty</h1>
{% endblock header %}

{% block main %}
<h2>About</h2>
<p>I'm a senior Computer Engineering student at Drexel University.</p>

<p>I program and study a lot of math in my free time, and I also love to draw and produce music.</p>

<p>I happen to be very, very good at Minesweeper :)</p>

<h2>My coordinates in various spaces</h2>
<ul>
<li>mastodon: (AT) jasperty (AT) mathstodon.xyz</li>
<li>email: jasperty2 (AT) gmail (DOT) net</li>
<li>github: Jasper-Ty</li>
</ul>
{% endblock main %}
